.contact {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background: $softBackgroundColor;
}

.contact-wrapper {
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
}

.contact-form, .contact-det {
    width: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.contact-det {
    width: 50%;
}

.form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 20px 40px;

    .field {
        position: relative;
        width: 100%;
    }

    label {
        display: block;
        text-transform: lowercase;
        font-size: 1.1rem;
        margin-bottom: 5px;
    }

    input, textarea {
        width: 100%;
        border: none;
        padding: 10px;
        font-family: Raleway, sans-serif;
        font-size: 1rem;
    }

    input {
        height: 30px;
    }

    textarea {
        resize: none;
    }

    .submit {
        width: 150px;
        height: 40px;
        background: none;
        border: 1px solid rgba(28,28,28,.3);
        cursor: pointer;
        transition: border, background-color, transform 0.3s ease;

        &:hover {
            transform: scale(1.05);
            border: none;
            background-color: $vueColor;
            color: $whiteColor;
        }
    }
}

@media screen and (max-width:600px) {
    .contact-form, .contact-det {
        width: 100%;
    }

    .contact-det {
        margin-bottom: 20px;
    }
}