$time: 3s;
$softBackgroundColor: #ADE4DD;
$headerColor: #f4f7f5;
$highlightColor: #FFFF00;
$primaryTextColor: #374046;
$whiteColor: #FFF;
$blackColor: #000;
$boxShadowColor: #888888;
$gray11Color: #1c1c1c;
$jsColor: #ffeb3b;
$angColor: #f44336;
$vueColor: #41b883;
$gulpColor: #ffc107;
$regColor: #00bcb4;
$npmColor: #cddc39;
$htmlColor: #ff9800;
$cssColor: #369dd7;
$sassColor: #cc6699;